@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // або будь-який твій основний layout
}

@if (User.IsInRole("Admin"))
{ 
    @section AdminMenu {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Vacancy" asp-action="Index">Vacancies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
    </li>
    }
}

<div class="container mt-4">
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
</div>
