@model JobFly.Areas.Employer.Models.VacancyCreateViewModel
<h2>Додати проект</h2>
<form asp-action="create" asp-controller="vacancy" method="post">
    <p>
        <label asp-for="Vacancy.Title">Title</label><br />
        <input type="text" asp-for="Vacancy.Title" />
    </p>
    <p>
        <label asp-for="Vacancy.TaskDescription">Task Description</label><br />
        <input type="text" asp-for="Vacancy.TaskDescription" />
    </p>
    <p>
        <label asp-for="Vacancy.MustToHave">Must to have</label><br />
        <input type="text" asp-for="Vacancy.MustToHave" />
    </p>
    <p>
        <label asp-for="Vacancy.GoodToHave">Good to have</label><br />
        <input type="text" asp-for="Vacancy.GoodToHave" />
    </p>
    <p>
        <label asp-for="Vacancy.Salary">Salary</label><br />
        <input type="text" asp-for="Vacancy.Salary" />
    </p>
    <p>
        <label asp-for="Vacancy.CategoryId">Category</label><br />
        <select asp-for="Vacancy.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
            <option value="">-- Виберіть категорію --</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Додати" />
    </p>
</form>
