@model JobFly.Models.Vacancy

<h2>Edit vacancy</h2>
<form asp-action="edit" asp-controller="vacancy" , asp-route-id="@Model.Id">
    <p>
        <label asp-for="Title">Title</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="TaskDescription">Task Description</label><br />
        <input type="text" asp-for="TaskDescription" />
    </p>
    <p>
        <label asp-for="MustToHave">Must to have</label><br />
        <input type="text" asp-for="MustToHave" />
    </p>
    <p>
        <label asp-for="GoodToHave">Good to have</label><br />
        <input type="text" asp-for="GoodToHave" />
    </p>
    <p>
        <label asp-for="Salary">Salary</label><br />
        <input type="text" asp-for="Salary" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>