@model JobFly.ViewModels.VacancyListViewModel
<form method="get">
    <div>
        <label>Назва проекту: </label>
        <input asp-for="Name" />

        <input type="submit" value="Фільтр" />
    </div>
</form>