@model JobFly.ViewModels.CategoryListViewModel
<form method="get">
    <div>
        <label>Category name: </label>
        <input asp-for="Title" />

        <input type="submit" value="Фільтр" />
    </div>
</form>